:root {
  --main-color: #607d8b;
  --light-main: #b0bec5;
  --dark-main: #455a64;
  --background: #f5f7fa;
  --text-color: #37474f;
  --border-color: #cfd8dc;
  --hover-color: #eceff1;
}

body {
  width: 400px;
  padding: 15px;
  font-family: 'Arial', sans-serif;
  background-color: var(--background);
  color: var(--text-color);
}

#input-area, #search-sort-area, #import-export-area {
  margin-bottom: 15px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

input, select, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  color: var(--text-color);
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s;
}

#save-prompt {
  background-color: var(--main-color);
  color: #fff;
}

#save-prompt:hover {
  background-color: var(--dark-main);
}

.prompt-button {
  width: auto;
  padding: 5px 10px;
  font-size: 0.8em;
  background-color: var(--light-main);
  color: var(--text-color);
}

.prompt-button:hover {
  background-color: var(--main-color);
  color: #fff;
}

#import-export-area {
  display: flex;
  justify-content: space-between;
}

#import-export-area button {
  width: 48%;
  background-color: var(--light-main);
  color: var(--text-color);
  font-size: 0.9em;
}

#import-export-area button:hover {
  background-color: var(--main-color);
  color: #fff;
}

#search-sort-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-input-wrapper, .icon-select-wrapper {
  position: relative;
  flex-grow: 1;
}

.icon-input-wrapper {
  margin-right: 10px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--main-color);
}

#search-input, #sort-select {
  padding-left: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: var(--hover-color);
}

.prompt-text {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  margin-right: 10px;
}

.button-container {
  display: flex;
  gap: 5px;
}